<h1>Create new blog post</h1>
<div class = 'card'>

    <div class= 'form-floating'>
        <input type="text" class='form-control' id='blog_title' placeholder='Type blog title here'>
        <label for="blog_title">Blog Title</label>
    </div>

     <div class= 'form-floating'>
        <input type="text" class='form-control' id='blog_text' placeholder='Type text content here'>
        <label for="blog_text">Blog Text</label>
    </div>

    <button class = 'btn' id = 'blog_button'>Submit</button>


</div>

<script src="../public/js/addblog.js"></script>